<div class="tool-panel">
    <button class="back-button" (click)="gotoList()"><--</button>
    <button class="edit-button">Редактировать</button>
    <button class="sign-button">Подписи</button>
    <button class="note-button">Примечание</button>
    <button class="common-button">Общее</button>
</div>

<div class="middle-container">

    <div class="first-container">
        <div class="data-container">
            <label>Состояние</label>
            <span>{{request.state}}</span>
        </div>
        <div class="data-container">
            <label>Предприятие</label>
            <span>{{request.state}}</span>
        </div>
        <div class="data-container">
            <label>Объект</label>
            <span>{{request.state}}</span>
        </div>
        <div class="data-container">
            <label>Оборудование</label>
            <span>{{request.state}}</span>
        </div>
        <div class="data-container">
            <label>Оборудование выв в рем.</label>
            <span>{{request.state}}</span>
        </div>
    </div>

    <div class="second-container">
        <div class="data-container">
            <label>Просимый срок</label>
            <span>{{request.state}}</span>
        </div>
        <div class="data-container">
            <label>Разрешенный срок</label>
            <span>{{request.state}}</span>
        </div>
        <div class="data-container">
            <label>Фактический срок</label>
            <span>{{request.state}}</span>
        </div>
        <div class="data-container">
            <label>Плановый срок</label>
            <span>{{request.state}}</span>
        </div>
        <div class="data-container">
            <label>Время создания</label>
            <span>{{request.state}}</span>
        </div>
    </div>

    <div class="third-container">
        <div class="data-container">
            <label>Программа переключений</label>
            <span>{{request.state}}</span>
        </div>
        <div class="data-container">
            <label>Комплекс</label>
            <span>{{request.state}}</span>
        </div>
        <div class="data-container">
            <label>Состояние оборуд. по заявке (УПР)</label>
            <span>{{request.state}}</span>
        </div>
        <div class="data-container">
            <label>P</label>
            <span>{{request.state}}</span>
        </div>
        <div class="data-container">
            <label>dP</label>
            <span>{{request.state}}</span>
        </div>
    </div>

    <div class="fourth-container">
        <div class="data-container">
            <label>Категория</label>
            <span>{{request.state}}</span>
        </div>
        <div class="data-container">
            <label>Продление</label>
            <span>{{request.state}}</span>
        </div>
        <div class="data-container">
            <label>Ремонт</label>
            <span>{{request.state}}</span>
        </div>
        <div class="data-container">
            <label>А/Г</label>
            <span>{{request.state}}</span>
        </div>
    </div>

</div>

<div class="bottom-container">

    <div class="fifth-container">

    </div>

    <div class="sixth-container">

    </div>

</div>