
.tool-panel {
  position: absolute;
  top: 40px;
  width: 100%;
  background-color: blue;
}

.tool-panel button {
  height: 40px;
  color: white;
  padding: 0;
  border-width: 0;
}

.tool-panel .back-button {
  float:left;
  background-color: blue;
  width: 50px;
  border-right: 3px solid white;
}
.tool-panel .edit-button {
  float:left;
  background-color: blue;
  width: 170px;
  border-right: 3px solid white;
}
.tool-panel .common-button {
  float:right;
  background-color: navy;
  width: 100px;
  border-left: 3px solid white;
}
.tool-panel .note-button {
  float:right;
  background-color: darkgreen;
  width: 120px;
  border-left: 3px solid white;
}
.tool-panel .sign-button {
  float:right;
  background-color: saddlebrown;
  width: 110px;
  border-left: 3px solid white;
}

.middle-container {
   position: absolute;
   top: 100px;
   width: 100%;
 }

.middle-container > div {
  display: inline-block;
  width: 23.8%;
  padding: 10px;
}

.middle-container > div:nth-child(even){
  background-color: ghostwhite;
}

.middle-container label {
  color: darkgray;
}

.middle-container .fourth-container, .third-container{
  vertical-align: top;
}

.bottom-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}