<div class="tool-panel">
    <button>Просмотр</button>
    <button>Редактирование</button>
    <button>Создание</button>
    <button>Фильтр</button>
    <button>Настройки</button>
</div>

<div class="filter-panel">
    <span>Фильтр "Все заявки"</span>
    <div></div>
</div>

<div class="work-area">
    <table>
        <thead>
            <tr>
                <th>
                    Номер
                </th>
                <th>
                    Предприятие
                </th>
                <th>
                    Состояние заявки
                </th>
                <th>
                    Объект
                </th>
                <th>
                    Оборудование
                </th>
                <th>
                    Совокупн. начало
                </th>
                <th>
                    Совокупн. конец
                </th>
                <th>
                    Разреш. начало
                </th>
                <th>
                    Разреш. конец
                </th>
                <th>
                    Вид
                </th>
                <th>
                    Категория
                </th>
                <th>
                    УПР
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of requests" (click)="onSelect(request)">
                <td>
                    {{request.number}}
                </td>
                <td>
                    {{request.organization}}
                </td>
                <td>
                    {{request.state}}
                </td>
                <td>
                    {{request.object}}
                </td>
                <td>
                    {{request.equipment}}
                </td>
                <td>
                    {{request.cumulativeStart}}
                </td>
                <td>
                    {{request.cumulativeEnd}}
                </td>
                <td>
                    {{request.allowedStart}}
                </td>
                <td>
                    {{request.allowedEnd}}
                </td>
                <td>
                    {{request.form}}
                </td>
                <td>
                    {{request.category}}
                </td>
                <td>
                    {{request.upr}}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="navigation-area">
    <div class="page-count">
        <span>Страница</span>
        <input type="text" value="{{currentPage}}">
        <span>из {{pageCount}}</span>
    </div>
    <div class="page-navigator">
        <button>|<-</button>
        <button><-</button>
        <button>-></button>
        <button>->|</button>
    </div>
    <div class="record-count">
        <span>Записей на странице</span>
        <select>
            <option *ngFor="let recordOnPage of recordsOnPage">{{recordOnPage}}</option>
        </select>
        <span>из {{recordCount}}</span>
    </div>
</div>