.tool-panel{
  position: fixed;
  top: 45px;
  width: 100%;
  background-color: ghostwhite;
  height: 50px;
  padding-left: 15px;
}

.tool-panel button{
  position: relative;
  top: 30%;
}

.filter-panel{
  position: absolute;
  top: 100px;
  left: 15px;
  right: 15px;
}

.filter-panel div{
  height: 150px;
  border: 1px solid black;
}

.work-area{
  position: absolute;
  top: 280px;
  left: 15px;
  right: 15px;
}

thead{
  position: fixed;
}

tbody{
  position: absolute;
  top: 25px;
  height: 595px;
  overflow-y: scroll;
}

tbody tr:nth-child(odd){
  background-color: aliceblue;
}

th, td{
  border-right: 2px solid black;
}

th{
  color: dodgerblue;
  font-weight: 100;
}

td{
  padding: 1px 2px;
}

th:last-child, td:last-child{
  border-right: none;
}

td:first-child{
  text-decoration: underline;
  color: #0366d6
}

.navigation-area{
  position: fixed;
  bottom: 15px;
  left: 15px;
  right: 30px;
}

.navigation-area div{
  display: inline-block;
}

.navigation-area .page-count{
  float: left;
}

.navigation-area .page-count input{
  width: 35px;
}

.navigation-area .page-navigator{
  margin-left: 30%;
  margin-right: 30%;
}

.navigation-area .record-count{
  float: right;
}