.label-container {
    //position: fixed;
    //width: 100%;
}

.label-container span {
    color: dodgerblue;
    margin-top: 10px;
}

.label-container .screen-label{
    float: left;
    margin-left: 10px;
 }

.label-container .user-label{
    float: right;
    margin-right: 10px;
    text-decoration: underline;
}